# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: JosephGuadagno.net
email: jguadagno@hotmail.com
name: "Joseph Guadagno"
description: >- # this means to ignore newlines until "baseurl:"
  Microsoft .NET MVP, Director of Engineering at Quicken Loans, Organizer of Desert Code Camp
baseurl: "" # the subpath of your site, e.g. /blog
permalink: /:year/:month/:day/:title
url: "https://www.josephguadagno.net" # the base hostname & protocol for your site, e.g. http://example.com
timezone: America/Phoenix
breadcrumbs: true
collections:
  presentations:
    output: true
    permalink: /presentations/:name
atom_feed:
  path: "http://feeds.feedburner.com/JosephGuadagno"
feed:
  posts_limit: 40
og_image: /assets/images/og_image.png
author: 
  name        : "Joseph Guadagno"
  bio         : >-
    Microsoft Developer Services MVP, Director at Quicken Loans, Organizer of Desert Code Camp
  avatar      : "/assets/images/authors/Joe_Guadagno_512x512.jpg"
  picture     : "/assets/images/authors/Joe_Guadagno_512x512.jpg"
  location    : "Chandler, AZ, USA"
  links:
    - label: "Email"
      icon: "fas fa-fw fa-envelope-square"
      url: "mailto:jguadagno@hotmail.com"
    - label: "Website"
      icon: "fas fa-fw fa-globe"
      url: "https://www.josephguadagno.net"
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jguadagno"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jguadagno"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/JosephGuadagnoNet"
    - label: "'Coding with JoeG' Videos"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/playlist?list=PLESGit66MnblZW06pJQwB_VPFZnOT-gG2"
    - label: "Previous Presentations"
      icon: "fab fa-fw fa-youtube"
      url: "https://www.youtube.com/playlist?list=PLESGit66MnbmnDhXdTZicVFF2Pql430pJ"
    - label: "'Coding with JoeG' stream"
      icon: "fab fa-fw fa-twitch"
      url: "https://www.twitch.tv/jguadagno"   

# Build settings
markdown: kramdown
show_excerpts: true
repository: "jguadagno/jguadagno.github.io"
include: ["_pages"]
highlighter: rouge

# Kramdown settings
kramdown:
  syntax_highlighter: rouge
  syntax_highlighter_opts: 
    block:
      line_numbers: true
      start_line: 1

plugins:
  - jekyll-sitemap # Create a sitemap using the official Jekyll sitemap gem
  - jekyll-feed # Create an Atom feed using the official Jekyll feed gem
  - jekyll-redirect-from
  - jekyll-gist
  - jekyll-seo-tag
  - jekyll-avatar
  - jekyll-mentions
  - jekyll-include-cache
  - jekyll-avatar
  - jemoji

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

exclude:
  - todo.txt
  - readme.md
  - install.md

remote_theme: "mmistakes/minimal-mistakes@4.22.0"

# Minimal Mistakes Settings

# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      share: true
      related: true
      classes: wide
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      share: true
      classes : wide
      author_profile: true
  # _presentations
  - scope:
      path: ""
      type: presentations
    values:
      layout: presentation
      share: true
      classes : wide
      author_profile: true

paginate: 10 # amount of posts to show
paginate_path: /page:num/

logo: "/assets/icons/android-chrome-96x96.png"
bing_site_verificaton: "7EC9949296748CD8737FFF69FC74B369"
google_analytics: UA-2998428-1
head_scripts:
  - /assets/js/ai.js

# Social
social:
  type:  # Person or Organization (defaults to Person)
  name: "Joseph Guadagno" # If the user or organization name differs from the site's name
  links:
    - "https://twitter.com/jguadagno"
    - "https://facebook.com/JosephGuadagnoNet"
    - "https://www.linkedin.com/in/JosephGuadagno"

twitter     : 
  username    : "jguadagno"
  card        : "summary"
facebook    :
  app_id      : 266442613419593
  publisher   : 1580735823
  admins      : "Joseph.J.Guadagno"

# Analytics
analytics:
  provider: "google"
  google:
    tracking_id: "UA-2998428-1"
    anonymize_ip: false # default

# comments:
#   provider: "facebook"
#   facebook:
#     appid: 266442613419593 # optional
#     num_posts: 5 # 5 (default)
#     colorscheme: "light" # "light" (default), "dark"

search: true
google:
  search_engine_id: 012137879525636912191:y-ah0w7drds

footer:
  links:
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: "https://twitter.com/jguadagno"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/jguadagno"
    - label: "Facebook"
      icon: "fab fa-fw fa-facebook"
      url: "https://www.facebook.com/JosephGuadagnoNet"

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
year_archive:
  type: liquid
  path: /year-archive/
