---
---

@import "bootswatch/dist/materia/variables";
@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/materia/bootswatch";

justify-content-end {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
