---
layout: single
---
{% if page.isKeynote == true %}
<p class="notice--info">This talk can be given as a Keynote<p>
{% endif %}
{% if page.isRetired == true %}
<p class="notice--danger">This talk has been retired. It is no longer given.  If you need this talk, please contact me.<p>
{% endif %}

{{ content }}

{% if page.sourceUrl %}
<h3>Source Code</h3>
<a href="{{page.sourceUrl}}" target="_blank">{{page.sourceUrl}}</a>
{% endif %}

{% if page.powerPointUrl %}
<h3>Slide Deck</h3>
<iframe src="{{page.powerPointUrl}}" width="610px" height="367px" frameborder="0"></iframe>
{% endif %}

{% if page.youTubeId %}
{% capture youtube_id %}
{{page.youTubeId}}
{% endcapture %}
<h3>Video</h3>
{% include video id=youtube_id provider="youtube" %}
{% if page.youTubeCaption %}
<p class="text-center">
{{page.youTubeCaption}}
</p>
{% endif %}
{% endif %}

{% if page.sessionizeUrl %}
<h3>Interested</h3>
Would you like this talk at your event?  You can send me an email at the link to the left or if you use Sessionize you can view the talk on 
<a href="https://sessionize.com/s/joseph-guadagno/{{page.sessionizeUrl}}" target="_blank">Sessionize</a>.
{% endif %}